.left-nav ul a:hover {
  background-color: #0f40b9;
  color: white;
}
.left-nav ul a:hover svg {
  fill: rgba(219, 234, 254, var(--tw-text-opacity));
}

.left-nav ul a.selected {
  background-color: #0f40b9;
  color: white;
}

.left-nav ul a svg {
  fill: rgba(191, 219, 254, 1);
}

.left-nav ul a.selected svg {
  background-color: #0f40b9;
  fill: white;
}

.left-nav .Settings {
  background: rgb(0 44 149);
}

.main-button:hover {
  background-color: #0f40b9;
  color: white;
}

.custom-select .MuiSelect-select {
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  padding: 16.5px 14px;
  width: 250px;
}

.MuiFormControlLabel-label	{
  color: white;
}
.MuiButtonBase-root {
  margin: 0.25rem 0;
}
